<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  
</body>
</html><%- include('../partials/header.ejs') -%>
<div class="card pricing-card">
  <div class="card-body">
<h1 class="indice-name"><%= symbol %></h1>
<h3 class="indice-characteristics">OPEN: <%= open %></h3>
<h3 class="indice-characteristics">HIGH: <%= high %></h3>
<h3 class="indice-characteristics">LOW: <%= low %></h3>
<h3 class="indice-characteristics">CURRENT/LTP: <%= current %></h3>
<form class="" action="/buy" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">QUANTITY</label>
    <select class="form-control" id="exampleFormControlSelect1" name="quantity">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" name="button">CONFIRM BUY</button>
</form>
</div>
</div>

<%- include('../partials/footer.ejs') -%>

<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>BRANDING AND </br>
CORPORATE DESIGN</h1>
          <p>Visual communication and problem-solving</p>
        </div>
        <a href="#">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    
    
    
  </div>
</div>
