<%- include('../partials/header.ejs') -%>
<div class="card pricing-card">
  <div class="card-body">
<h1 class="indice-name"><%= symbol %></h1>
<h3 class="indice-characteristics">OPEN: <%= open %></h3>
<h3 class="indice-characteristics">HIGH: <%= high %></h3>
<h3 class="indice-characteristics">LOW: <%= low %></h3>
<h3 class="indice-characteristics">CURRENT/LTP: <%= current %></h3>
<a href="buy" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">BUY</a>
<a href="sell" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">SELL</a>
</div>
</div>

<%- include('../partials/footer.ejs') -%>
